:host {
    main {
        max-width: 75%;
        margin: 0 auto;

        // header {
        //     display: flex;
        //     flex-direction: column;
    
        //     .info {
        //         h2 {
        //             line-height: 1;
        //             margin-bottom: 0;
        //             font-size: 2.5rem;
        //         }

        //         a {
        //             display: block;
        //             width: fit-content;
        //             color: #535353;
        //             font-size: 2rem;

        //             @media screen and (max-width: 768px) {
        //                 font-size: 1.5rem;
        //             }

        //             @media screen and (max-width: 414px) {
        //                 font-size: 1rem;
        //             }
        //         }
        //     }
    
        //     .banner {
        //         padding-block: 1.5rem;

        //         img {
        //             width: 100%;
        //             height: 100%;
        //         }
        //     }
        // }
    
        .content {
            margin-bottom: 3rem;

            .content-wrapper {
                .category {
                    width: fit-content;
                    padding-inline: 0.5rem;
                    border: 1px #535353 solid;
                    border-radius: 6px;
                    background-color: #cccccc;
                }

                .card-container {
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(200px, 434px));
                    gap: 10px;
                    margin-block: 1.5rem;
                }

                .pin {
                    margin-block: 1.5rem;
                    padding: 0 1rem 1rem 1rem;
                    border: 1px #535353 solid;
                    border-radius: 6px;
                    background-color: #cccccc;

                    p, span, a {
                        font-size: 0.75rem;
                        line-height: 1;
                    }
                    
                    .obs {
                        display: flex;
                        align-items: center;

                        a {
                            color: #000;
                            padding-left: 0.2rem;
                        }
                    }
                }

                h3 {
                    font-size: 1.875rem;
                    margin-bottom: 0;
                }
            }

            .diary {
                p {
                    font-size: 1.5rem;
                }
            }
        }
    }
}