<main class="container">
  <header>
    <div class="info">
      <h2 class="bungee-shade-regular">Eneibou Stream</h2>
      <a class="silkscreen-regular" href="https://www.twitch.tv/eneibou/">twitch.tv/eneibou</a>
      <a class="silkscreen-regular" href="https://www.youtube.com/@Eneibou">youtube.com/&#64;Eneibou</a>
    </div>
    <div class="banner">
      <img src="assets/banner_twitch.png" alt="Eneibou Twitch">
    </div>
  </header>
  <div class="content">
    <div class="title">
      <div class="category silkscreen-regular">Project Zomboid</div>
      <h3 class="bungee-shade-regular">O diário do Sr. Lourdes</h3>
      <span class="open-sans">Primeira parte</span>
      <div class="pin open-sans">
        <div class="obs">
          <i class="icon ri-attachment-2"></i>
          <p>Como é escrito o texto?<p>
        </div>
        <span>Após cada transmissão em <a href="https://www.twitch.tv/eneibou/">twitch.tv/eneibou</a> ou <a href="https://www.youtube.com/@Eneibou">youtube.com/&#64;Eneibou</a> eu revejo o VOD e crio a história baseado no que aconteceu e conforme a quantidade de dias que foram jogados em live.</span>
      </div>
    </div>
    <h1 class="open-sans">Dia 01</h1>
    <div class="diary caveat">
      <p>Assim que joguei as flores no caixão eu comecei a ouvir batidas... E elas vinham de dentro do caixão. Então comecei a gritar: Abram o caixão! Abram o caixão! Lourdes está viva! Ela está viva! Todos no enterro continuaram parados, sem reação.</p>
      <p>Pulei sobre o caixão e tentei abrir, mas não conseguia. Comecei então a arranhá-lo, até o ponto que as minhas unhas começaram a sangrar. E as batidas cada vez mais altas, cada vez mais altas, até que...</p>
    </div>
  </div>
  <router-outlet></router-outlet>
</main>
