<main class="container">
  <header>
    <div class="info">
      <h2 class="bungee-shade-regular">Eneibou Stream</h2>
      <a class="silkscreen-regular" href="https://www.twitch.tv/eneibou/">twitch.tv/eneibou</a>
      <a class="silkscreen-regular" href="https://www.youtube.com/@Eneibou">youtube.com/&#64;Eneibou</a>
    </div>
    <div class="banner">
      <img src="assets/banner_twitch.png" alt="Eneibou Twitch">
    </div>
  </header>
  <div class="content">
    <div class="title">
      <div class="category silkscreen-regular">Project Zomboid</div>
      <h3 class="bungee-shade-regular">O diário do Sr. Lourdes</h3>
      <div class="pin open-sans">
        <div class="obs">
          <i class="icon ri-attachment-2"></i>
          <p>Como é escrito o texto?<p>
        </div>
        <span>Após cada transmissão em <a href="https://www.twitch.tv/eneibou/">twitch.tv/eneibou</a> ou <a href="https://www.youtube.com/@Eneibou">youtube.com/&#64;Eneibou</a> eu revejo o VOD e crio a história baseado no que aconteceu e conforme a quantidade de dias que foram jogados em live.</span>
      </div>
    </div>
    <h1 class="open-sans">Dia 01</h1>
    <div class="diary caveat-brush-regular">
      <p>Assim que joguei as flores no caixão eu comecei a ouvir batidas... E elas vinham de dentro... do caixão!</p>
      <p>Então comecei a gritar: Abram o caixão! Abram o caixão! Lourdes está viva! Ela está viva! Todos no enterro continuaram parados, sem reação.</p>
      <p>Pulei sobre o caixão e tentei abrir, mas não conseguia. Comecei então a arranhá-lo, até o ponto que as minhas unhas começaram a sangrar. E as batidas cada vez mais altas, cada vez mais altas, até que...</p>
      <p>Acordei com o coração acelerado, não sei quantas horas dormi depois de ingerir todos aqueles remédios. Foi então que percebi as batidas na janela, insistentes. Pensei, "quem está a bater na janela a essas horas"? Fui até a sala, abri a cortina, e um susto enorme:  Edna, a vizinha, com a cara pálida, olhos arregalados, a bater na janela. Logo pensei, "o cachorro do Bob defecou no quintal dela novamente". Mas depois novo susto: Bob apareceu ao lado dela e começou a bater na janela também, com a mesma cara pálida mas... com uma faca enfiada no peito.</p>
      <p>Não era Halloween, não entendi nada, porque queriam me assustar? Esbravejei mas não adiantou, eles não saíram da personagem. Enquanto pensava no absurdo daquela situação eles quebraram a janela.  Foi então que ouvi os gemidos. Lembrei dos filmes de zumbis que Joshua costumava assistir e finalmente entendi as personagens.</p>
      <p>Eles pularam a janela... arrastaram o corpo nos cacos de vidro... Só depois de tudo isso entendi que havia algo estranho acontecendo...</p>
      <p>Gritei: Edna! Bob! O que aconteceu com vocês!? Eles apenas gemiam. Levantaram e começaram a caminhar na minha direção.</p>
      <p>Meu corpo estremeceu, o que está acontecendo? Fiquei por um tempo paralizado. Edna aproximou-se e abriu a boca na intenção de me morder, fiz um embate de forças e consegui a derrumar, mas logo em seguida Bob avançou em mim. Segurei a cara em desespero. A boca aberta para arrancar um pedaço de mim. Bob era um homem forte de 36 anos e eu tenho 61, foi difícil escapar dele, mas consegui derrubá-lo forçando-o contra a mesa de centro. Assim que ele caiu corri na cozinha e apanhei a faca que estava na gaveta, enquanto fazia isso, eles já começavam a se levantar lentamente.</p>
      <p>Eu não sabia o que fazer. Ferí-los? São meus vizinhos! Mas já estão mortos? Não! Edna era amiga de Lourdes! Eu devo estar preso em outro pesadelo!</p>
      <p>Mas aquilo era um pesadelo da vida real. Edna novamente tentou me morder e instintivamente a esfaqueei, porém ela continuou a avançar como se nada tivesse acontecido...</p>
      <p>Por um segundo eu pensei: "Para que continuar? Eu não tenho motivo algum para isso." E naquele momento, encurralado na cozinha, ouvi a voz de Lourdes: "Somos um, enquanto você estiver vivo, eu também estarei".</p>
      <p>Meus olhos enxeram de água e veio a tona o jovem Jeremias, destemido, e todos os horrores da guerra que consegui esquecer após anos de terapia. Fiquei atordoado por um momento mas logo o jovem Jeremias, com todo sangue que carregava nas mãos, tomou controle do velho Jeremias, e em poucos momentos a cozinha estava banhada de sangue com dois corpos no chão.</p>
      <p>Caminhei até a sala, sangue escorria das minhas mãos deixando um rastro vermelho. Abri a porta. Foi então que me dei conta de que estava num filme de terror na vida real. O que vi poderia ser aterrorizante para alguns, mas não para mim.</p>
      <p>Como isso pode ocorrer na vida real? Zumbis? Mas eu... Eu ainda estou aqui, vivo.</p>
      <p>Perdoe-me meu Deus, perdoe-me por tudo que fiz porque fui cego, porque acreditei no que me disseram que devia ser feito. Sei que talvez isso seja um castigo pelo meu passado. Minha morte é justa, mas não vou morrer aqui e agora.</p>
      <p>Vou dar descanso a todos que agora vivem atormentados e protegerei Lourdes dentro de mim.</p>
      <p>Lourdes, quando eu estiver os enfrentando, feche os olhos, por favor. Não quero que veja o que vejo, esse fardo será somente meu.</p>
    </div>
    <h1 class="open-sans">Dia 02</h1>
    <div class="diary caveat-brush-regular">
      <p>Logo de manhã cedo procurei por notícias do que estava acontecendo mas os noticiários estavam normais. Tentei ligar para a delegacia de Riverside mas a telefonia não funciona. Será que está a acontecer somente aqui em Echo Creek?</p>
      <p>Peguei minha M9 e consegui juntar muitos deles no campo de agricultura dos Tuller. Não foi fácil dar descanso a eles por vários motivos. O primeiro é que faziam alguns anos que não disparava. No começo errei alguns tiros mas depois comecei a afinar a pontaria. O segundo é que tive que me movimentar com rapidez e atenção para escapar deles mas a idade pesa, foi bastante desgastante. Durante o dia tive que fazer algumas pausas escondido, meu corpo pedia descanso, por sorte eles são muito lentos. O terceiro é que são todos rostos conhecidos, um punhado de parentes e muitos amigos... Meu emocional está destruído, chorei durante todo o dia, mas esse era um trabalho a ser feito, Lourdes concorda que eu faça isso.</p>
      <p>Se não esqueci ninguém, a vizinhança inteira estava lá. Será que só restou eu e Lourdes na cidade inteira? Porque meu Deus? Porque?</p>
      <p>Eu tinha uma M9 e um total de 140 balas. Usei todas elas.</p>
    </div>
    <h1 class="open-sans">Dia 03</h1>
    <div class="diary caveat-brush-regular">
      <p>Pensei em um plano, encontrar um carro e ir para West Point avisar o que está acontecendo em Echo Creek. Sim, isso é o melhor a ser feito! Isolar a cidade parece o caminho a seguir. O meu carro está em uma oficina em West Point, lá posso pegar o meu.</p>
      <p>Tem um carro parado na nossa rua, parece que a pessoa que estava a dirigir foi impedida de continuar pelos zumbis... Não lembro de ninguém com esse carro na vizinhança... Um Franklin All Terrain. Será que ela está entre os zumbis que matei? Eu precisava ter coragem e voltar ao campo ver se encontro as chaves no bolso de alguém.</p>
      <p>Encontrei as chaves no 34º corpo que vasculhei... Assim que encontrei sai correndo do campo porque o cheiro de gente morta era forte.</p>
      <p>As chaves estavam no corpo de uma mulher com capa de chuva amarela. Não era da cidade. Que azar ela teve em vir para Echo Creek nesse momento. Quando entrei no carro um grande urso de pelúcia no banco de trás e giz de cera no porta-luvas. Ela tinha uma filha, vi em uma foto. Chorei por algum tempo.</p>
      <p>O carro não tinha gasolina... Alguém deve ter retirado antes de mim. Preciso ir ao posto pegar gasolina, mas não tenho galão. Amanhã vou procurar comida, um galão e ir ao posto de gasolina.</p>
      <p>Coloquei o urso de pelúcia no quintal.</p>
      <p>Acordei no meio da noite com gemidos. Olhei pela janela mas não haviam zumbis em volta. Então percebi que a minha mente estava a reproduzir os gemidos do dia anterior... Depois ecoavam os sons dos crânios sendo perfurados... Acho que estou surtando... Lourdes, fale comigo, por favor. Me ajude.</p>
    </div>
    <h1 class="open-sans">Dia 04</h1>
    <div class="diary caveat-brush-regular">
      <p>Estive a coletar comida na casa dos vizinhos e na venda de Suzan, dentre outros items que possam ser úteis para ataque e defesa. Consegui derrubar alguns zumbis que me atacaram no caminho, por sorte eram poucos. Achei um cano que foi muito útil.</p>
      <p>Uma casa estava a ser construída na rua de cima, e sempre tinham um furgão que fazia muitas viagens com material de construção. Então pensei que poderia encontrar um galão. Fui até lá, o furgão estava estacionado no local. Olhei na construção e nada encontrei, contudo, a porta de trás do furgão estava destrancada, e havia um galão grande. Acertei em cheio!</p>
      <p>Com o cano consegui dar descanso a alguns zumbis até o posto de gasolina e enchi o galão. Carreguei aquele galão pesado e deixei o galão próximo do carro. Sentei no banco do motorista para descansar. Por sorte nenhum zumbi apareceu.</p>
      <p>Adicionei a gasolina no carro, sentei no banco de motorista, virei a chave e o som do motor a funcionar. Porém... Ao avançar poucos metros o pneu traseiro estourou. O barulho ainda atraiu alguns zumbis que tive que dar descanço com o cano. Agora eu precisava do material para trocar pneu e de um novo pneu!</p>
      <p>Foi então que lembrei de Jonny, estava a trabalhar como taxista a pouco tempo, será que por sorte o táxi está estacionado na casa dele?</p>
      <p>Ao chegar lá, sim, o táxi estava estacionado. Um rádio estava ligado na casa de Jonny, ouvi relatos de helicópteros e militares. Em breve meus companheiros virão nos salvar Lourdes.</p>
      <p>A porta do carro estava destrancada com a chave na ignição. Mas... não tinha gasolina. E não tenho material para retirar a gasolina do carro.</p>
      <p>Teria que fazer nova ida ao posto de gasolina... Mas isso fica para amanhã, porque estamos muito cansados, não é Lourdes?</p>
      <p>Nota: Parece que o abastecimento de água foi cortado, abri a pia e não tinha mais água. Telefonia e agora água? Consequencia do pesadelo ou ordem das autoridades? Preciso arrumar água.</p>
    </div>
    <h1 class="open-sans">Dia 05</h1>
    <div class="diary caveat-brush-regular">
      <p>Acordei ainda com dores no corpo por causa do embate físico com os zumbis. Sentia-me mais resistente, porém já tenho 60, não posso confiar plenamente nas minhas habilidades físicas. Então pensei onde poderia encontrar uma arma de fogo... Meus vizinhos certamente não tinham. Decidi rodar a vizinhança para ver se não estava a deixar escapar alguém que pudesse ter, a memória já não anda lá essas coisas.</p>
      <p>Foi então que me deparei com a casa abandonada dos Williams. Edna uma vez me pediu para ir lá porque viu jovens entrar na casa, um deles o filho de Bob, cujo nome é Joe. Como me consideravam o "xerife" da vizinhança, sempre me pediam para averiguar situações estranhas. Mas eu recusei porque Edna não gostava de Bob, então parecia usar o filho para retaliar o pai.</p>
      <p>E sim, a casa era ponto de encontro dos jovens, tanto que sempre foi toda pichada. Mas jovens fazem coisas de jovens e eu já estava aposentado, ela que ligasse para a delegacia de Riverside e falasse com Darcy sobre isso.</p>
      <p>Contudo... Dentre os zumbis que abati não estava Joe... Será que ele está escondido na casa abandonada dos Williams? É um bom local para se esconder porque as janelas são tapadas com tábuas.</p>
      <p>Antes de averiguar, tive um embate com um zumbi que estava próximo a casa. Era uma pessoa desconhecida.</p>
      <p>Entrei com cuidado na casa, segurando o cano com as duas mãos. O lugar estava imundo, na sala só tinha uma geladeira velha. Aparentemente não tinha ninguém, mas senti um cheiro podre no ar. Cheiro de gente morta.</p>
      <p>Caminhei com cuidado, e olhei comodo a comodo, no banheiro encontrei Joe morto, aparentemente espancado. E ele estava armado. Já estava morto a pelo menos três dias.</p>
      <p>"Lembro de carregá-lo no colo", Lourdes disse com tristeza...</p>
      <p>Onde ele conseguiu essas armas? Em nenhum lugar de Echo Creek ele conseguiria essas armas. De qualquer forma, elas serão muito úteis nas minhas mãos, parece que o destino nos guiou até aqui Lourdes.</p>
    </div>
    <h1 class="open-sans">Dia 06</h1>
    <div class="diary caveat-brush-regular">
      <p>Comecei o dia determinado a buscar gasolina no posto e com muitas dúvidas. Sem telefonia e com a água a acabar, será que não deveria procurar um gerador e estocar bastante combustível? Quem garante que a energia elétrica não será cortada também? Acho que a prioriedade no momento é combustível.</p>
      <p>Então fui até o posto novamente com o galão de gasolina. Não tinham zumbis, então pensei em entrar na loja de conveniência para pegar bebidas, já que tinha pouca água em casa.</p>
      <p>Assim que abri a porta eu os vi. Um policial ao fundo e três homens do exército, dentro da loja de conveniência... Zumbificados. Eu recuei e larguei imediatamente o galão pois começavam a vir para cima de mim. Puxei o cano e tentei confundí-los para acertar um a um. Primeiro foram os três homens do exército, dei descanço a cada um deles, mas foi díficil deitá-los, então o último... O policial era Darcy, delegado de Riverside. O conhecia de longa data e reconhecer aquele rosto pálido e desconfigurado pesou meu peito. Cansado, lutei contra ele, consegui derrubá-lo mas terminei ofegante.</p>
      <p>Depois que a adrenalina baixou e que a respiração voltou ao normal, veio o baque. "Um delegado e três soldados bem equipados... Que esperança devo ter?" Sentei no chão cansado. Então Lourdes disse: "Juntos conseguimos, vamos sobreviver". Olhei para o capacete de exército no chão e vieram várias mémorias terríveis da guerra na minha cabeça, de rajada. Apertei os olhos. "Preciso continuar lúcido para proteger Lourdes". Respirei fundo e comecei a recolher os equipamentos e armas deles, separei o que dava para usar e o que não dava, as roupas eram reforçadas e me seriam úteis. Levei o distintivo de Darcy comigo.</p>
      <p>Ao entrar na loja de conveniência, vi outros corpos no chão, certamente foram atacados por zumbis e não conseguiram escapar a tempo.</p>
      <p>Levei a gasolina até o táxi, o carro está em bom estado. Voltei ao posto dirigindo, peguei os equipamentos, as armas e as bebidas e retornei para casa. Agora já tinha um carro e pensei em seguir para West Point na manhã seguinte mas Lourdes disse que precisamos ficar mais tempo em Echo Creek. Então adiei meus planos.</p>
      <p>Estou destinado a fazer isso, não é Deus? O meu castigo é dar descanso aos que morreram mas que ainda andam por aí, perdidos. É a expiação pelos meus erros, por ter tirado vidas em nome de nada, de uma guerra que levou os meus amigos e deixou os poderosos mais poderosos e ricos.</p>
      <p>Agora tenho mais armas e munição para dar descanço a eles Lourdes. Essas armas chegaram a nós sem sequer procurarmos por elas. É o meu trabalho.</p>
    </div>
    <h1 class="open-sans">Dia 07</h1>
    <div class="diary caveat-brush-regular">
      <p>Hoje acordei cansado e resolvi ler um livro de mecânica pela manhã, para aprender alguma coisa e saber como resolver algum problema durante a viagem.</p>
      <p>A tarde retornei ao posto e encontrei um furgão preto atrás do prédio. Parecia estar em um estado aceitável e tinha bastante espaço. As chaves estavam na lanchonete anexa ao posto. E tinha gasolina!</p>
      <p>Agora temos dois carros, mas provavelmente vou trocar o táxi pelo furgão.</p>
    </div>
    <h1 class="open-sans">Dia 08</h1>
    <div class="diary caveat-brush-regular">
      <p>Lourdes disse que preciso fazer a barba, então fui atrás de um barbeador. Ela sempre gostou do bigode mas nunca da barba cheia. Penso em procurar um gerador também, quero evitar falta de energia o que seria muito prejudicial.</p>
      <p>Desci a rua a olhar as casas em busca de um gerador, quando estava a atravessar um campo ouvi o som de um helicóptero.</p>
      <p>Lourdes, veja! Vieram nos resgatar!</p>
      <p>O helicóptero parecia ser do exército, acenei com os braços, porém nada aconteceu. Claramente ele notou a minha presença e ficou ali um tempo a voar sobre mim. Quando percebi que nada aconteceria, fiquei preocupado. Pensei em sacar a arma para minha defesa, porque claramente a intenção deles não era me resgatar. Se não fosse para resgatar, bom, eu poderia estar em perigo. Sacar a arma ali poderia decretar o meu fuzilamento.</p>
      <p>Fiquei então parado no meio do campo com eles a voar sobre mim. Depois de um tempo foram embora.</p>
      <p>O que está acontecendo? Como o exército não tenta salvar um civil? Aliás, eu estava vestido com as roupas do exército, mesmo assim não houve interesse nenhum em me resgatar.</p>
      <p>Estamos por nós Lourdes, vamos sair dessa juntos.</p>
      <p>O helicóptero apenas me trouxe trabalho porque atraiu zumbis para perto da minha casa e tive que limpar a área novamente.</p>
      <p>Depois de limpar a área queria apenas descansar. Tenho deixado de lado as armas de fogo porque preciso aprimorar meu físico. Abater os zumbis com força bruta não é o meu perfil, é muito desgastante para mim, mas tento imaginar que estou a partir abóboras... São apenas abóboras... São apenas abóboras, não é Lourdes?</p>
      <p>O delicioso doce de abóbora de Lourdes, a receita é confidencial, como os protocolos do exército.</p>
      <p>Barbeador e gerador ficam para amanhã.</p>
    </div>
    <h1 class="open-sans">Dia 09</h1>
    <div class="diary caveat-brush-regular">
      <p>Consegui encontrar o gerador no depósito de Suzan, fica logo a frente da venda, do outro lado da rua. Suzan disse-me certa vez que tinha comprado um gerador para salvar suas tortas e bolos das quedas de energia. Por acaso fui lembrar disso só depois de arrombar a porta do depósito e encontrar o gerador lá dentro. Infelizmente o seu esposo, Steve, estava lá dentro zumbificado, dei o devido descanço a ele.</p>
      <p>Suzan, por acaso, não está entre os zumbis que abati. Rezo para que esteja bem.</p>
      <p>Hoje também vasculhei as casas menores da rua principal da cidade, porém não encontrei o barbeador.</p>
      <p>O gerador está dentro do furgão, ainda não o conectei a casa. Confesso que estou meio perdido, enquanto Lourdes não disser que podemos sair de Echo Creek, eu fico aqui, mas se ficarmos aqui acredito que não podemos continuar na nossa casa. Teremos que procurar um local distante onde os zumbis demorem a encontrar.</p>
      <p>A melhor solução na minha cabeça é sair da cidade e ir para um lugar seguro, o meu plano de ir para West Point. Mas vou aguardar Lourdes, a palavra final será sempre dela.</p>
      <p>Também preciso aprender coisas, porque a comida fresca começa a estragar e precisaremos encontrar formas sustentáveis de nos manter.</p>
      <p>Sigo preocupado com a água, mas a prioridade no momento é o pedido de Lourdes: o barbeador.</p>
    </div>
    <h1 class="open-sans">Dia 10</h1>
    <div class="diary caveat-brush-regular">
      <p>Acordei com Lourdes a dizer que não podemos descuidar de nós. Pediu para que eu colocasse os anéis e brincos dela. Eu tinha eles guardados na gaveta da mesinha de cabeceira. Coloquei todos os brincos e anéis que lá haviam, também o colar dela.</p>
      <p>Ela ficou feliz.</p>
      <p>Sai de casa cedo porque decidi instalar o gerador no posto como forma de precaução. Se a energia acaba continuamos a ter gasolina.</p>
      <p>Lourdes insiste que eu tire a barba e deixe o bigode, como ela gosta. Então fui atrás do barbeador.</p>
      <p>Procurei em todos os lugares mas não encontrei o barbeador, porém encontrei mais um gerador no parque. Sim, precisávamos de mais um gerador, se a luz acabar precisamos ter um gerador na casa e um gerador no posto, para termos gasolina.</p>
      <p>Levei o gerador e instalei na casa.</p>
    </div>
    <h1 class="open-sans">Dia 11</h1>
    <div class="diary caveat-brush-regular">
      <p>Discuti com Lourdes. Estou impaciente, ela insiste que fiquemos em Echo Creek mas estamos muito desprotegidos aqui.</p>
      <p>Peguei o carro e fui explorar os arredores sem o consentimento dela, decidi procurar por um lugar seguro. Passei por uma fazenda e parei o carro. As vacas estavam lá, nada aconteceu com elas. Aparentemente os animais não foram afetados.</p>
      <p>Continuei o caminho e encontrei a loja Blair's Potted Paradise. Dei descanço aos dois atendentes e peguei algumas coisas lá.</p>
      <p>Sinto-me mais confiante no combate corpo a corpo com eles.</p>
      <p>Voltei para casa e coloquei gasolina no gerador, havia esquecido ontem.</p>
      <p>Lourdes após a discussão não disse mais nada. Fiz uma comida gostosa, bem temperada no fogão, como pedido de desculpas para ela.</p>
      <p>Ele gostou mas continuou zangada comigo, espero que amanhã tudo volte ao normal.</p>
    </div>
    <h1 class="open-sans">Dia 12</h1>
    <div class="diary caveat-brush-regular">
      <p>Era importante explorar o entorno de Echo Creek, mesmo que Lourdes não concorde. Então comecei o dia explorando o entorno mas o silêncio de Lourdes estava me deixando louco... E rapidamente cedi, voltei para Echo Creek.</p>
      <p>Porque Lourdes não fala comigo? Discuti com ela porque quero protegê-la!</p>
      <p>Já sei, é a minha aparência! Ela está chateada porque estou descuidado. Vou procurar mais uma vez o barbeador, se não encontrar faço a barba com faca!</p>
      <p>Explorei outras residências em Echo Creek em busca do barbeador. Precisava encontrá-lo. E finalmente o encontrei.</p>
      <p>Em uma das casas havia um pouco de água na torneira, então resolvi tomar um banho e lavar as minhas roupas.</p>
      <p>Cheguei em casa e fui fazer a barba, mas Lourdes me impediu - em completo silêncio.</p>
      <p>Você pediu para eu fazer a barba! Você está me enlouquecendo Lourdes! Porque está fazendo isso comigo?</p>
      <p>Eu fiquei transtornado.</p>
      <p>Tirei toda aquela roupa molhada e fui dormir. Era o melhor a se fazer naquele momento.</p>
      <p>Acordei e vesti as roupas que já tinham secado.</p>
      <p>Precisava distrair a cabeça.</p>
      <p>Respirei fundo e pensei o que poderia fazer... Talvez aprender carpintaria. Assisti uns programas na TV sobre o assunto e fiquei interessado, mas preciso de um martelo.</p>
      <p>Pronto, é isso, vou atrás de um martelo!</p>
    </div>
    <h1 class="open-sans">Dia 13</h1>
    <div class="diary caveat-brush-regular">
      <p>Lembrei da transportadora Sppedy Go, é provável que tenham martelo lá.</p>
      <p>Encontrei alguns zumbis fora e dentro do local. Tentei evitar o combate corpo a corpo dessa vez, até mesmo para evitar de sujar toda a roupa que havia lavado recentemente, mas foi a pior coisa que poderia ter feito.</p>
      <p>Eu estava desconcentrado, o fato de Lourdes não conversar comigo estava me deixando muito mal. Desperdicei balas, errei tiros, e apenas trouxe mais zumbis para o local. Coloquei eu e ela em perigo.</p>
      <p>O pior não ocorreu, mas foi tudo em vão, não encontrei martelo algum lá.</p>
      <p>Então fui procurar nas casas. Numa delas quase fui dilacerado por dois zumbis, escapei por um triz deles.</p>
      <p>Pensei que era melhor voltar para casa, não estou bem, continuar é arriscado.</p>
      <p>Peguei o carro e terminei o dia a ler um pouco sobre alvenaria.</p>
      <p>Fomos dormir e Lourdes continuou em silêncio.</p>
    </div>
    <h1 class="open-sans">Dia 14</h1>
    <div class="diary caveat-brush-regular">
      <p>Mais um dia sem Lourdes a falar comigo. Pensei que ia surtar, sentia-me sozinho.</p>
      <p>"Preciso fazer alguma coisa para não surtar", eu pensei.</p>
      <p>Decidi procurar o martelo nos arredores de Echo Creek.</p>
      <p>Após rodar com o carro por algum tempo encontrei uma casa grande de fazenda, com certeza esses tinham um martelo. Perto da casa tinha uma construção de madeira com umas caixas, encontrei não só um, mas dois martelos.</p>
      <p>Voltei logo para Echo Creek e tentei praticar o que aprendi no programa. Cortei uma árvore, serrei e fiz tábuas, então construí dois baldes, mas o resultado ficou muito aquém do que esperava.</p>
      <p>Na casa grande da fazenda também havia um poço, por um momento pensei que seria um bom lugar para estabelecer nova morada. Como já não tenho água na torneira a algum tempo, optei por voltar lá e pegar água.</p>
      <p>Ao chegar e olhar a água não parecia potável, seria necessário ferver para remover as inpurezas.</p>
      <p>Resolvi explorar a casa para ver se encontrava recipentes para carregar a água e me deparei com um zumbi. Quando comecei a lutar com ele com a chave de fenda que tinha nas mãos, um segundo zumbi apareceu do meu lado de repente e não tive reflexo para me livrar do golpe dele.</p>
      <p>Fui arranhado, nesse momento voltei a ouvir a voz de Lourdes. Serena, ela mandou eu desinfectar a ferida e estancar o sangramento. Prontamente corri para fora da casa e fiz a desinfecção, depois passei uma bandagem que carrego comigo.</p>
      <p>Dei descanço aos dois zumbis.</p>
      <p>Fiquei na casa grande da fazenda no restante do dia, cuidando de mim.</p>
      <p>Eu estava muito nervoso, não sabia se aquele arranhão podia me transformar em um deles. Estava apreensivo.</p>
      <p>Resolvi ler um livro e voltar para Echo Creek somente no dia seguinte. Virei a noite a ler.</p>
      <p>Quando terminei de ler o livro Lourdes sorriu para mim.</p>
      <p>Os últimos dias estavam nebulosos, o sorriso de Lourdes abriu o céu.</p>
      <p>Não será esse arranhão que vai me derrubar.</p>
    </div>
    <h1 class="open-sans">Dia 15</h1>
    <div class="diary caveat-brush-regular">
      <p>Não descuidei nenhum segundo de cuidar do arranhão. A ferida parecia evoluir para a cura e eu não senti nada de estranho, apenas a dor de uma ferida qualquer. Penso que se for atacado por zumbis, talvez eu apenas morra. Quero acreditar nisso, não queremos ser mais de um deles, não é Lourdes?</p>
      <p>Depois de cuidar do arranhão o que fiz foi fazer a barba, Lourdes ficou a observar.</p>
      <p>Depois que terminei de barbear, ela disse-me: "A casa onde passamos as férias no nosso primeiro ano de casados".</p>
      <p>Finalmente ela disse onde deveríamos ficar em definitivo. Essa casa não ficava muito longe de Echo Creek. Era uma casa na beira de um lago, foram férias maravilhosas, estávamos em perfeita sintonia e em comunhão com a natureza.</p>
      <p>Sim, o local era perfeito para ficar longe dos zumbis. Mas... "Essa casa talvez nem exista mais Lourdes", disse a ela.</p>
      <p>O orfanato... A casa ficava a caminho de um orfanato. É uma estrada muito longa que leva ao orfanato, e passa ao lado do lago onde tem a casa que ficamos nas férias. Só que esssa estrada está fechada já fazem anos porque descobriram que coisas estranhas aconteciam no orfanato. Coisas estranhas ao nível de intervenção militar. Foi algo muito confidencial, perguntei a um amigo internamente e ele disse que não poderia me dizer nada sobre. O orfanato foi desativado, cercado, e a rua interditada.</p>
      <p>"Aquela área está completamente esquecida", disse a ela. "E"... Ela logo cortou o que ia dizer e insistiu que deveria ser lá. "E se não houver nada lá"? Indaguei. Ela respondeu: "Se a casa não estiver lá, construímos uma nova".</p>
      <p>"Mas eu não sei praticamente nada de construção", disse a ela. E ela respondeu: "Você aprende, você é capaz de fazer qualquer coisa".</p>
      <p>Lourdes estava irredutível e eu confio nela. Então o plano para os dias seguintes era claro e objetivo: mudar para aquela casa. Havia muito trabalho a ser feito, e durante todo o dia organizamos as coisas. Seria necessário fazer mais de uma viagem para levar todas as coisas.</p>
      <p>Mas primeiro tínhamos que sondar a situação. Farei uma ida ao local amanhã.</p>
    </div>
    <h1 class="open-sans">Dia 16</h1>
    <div class="diary caveat-brush-regular">
      <p>O primeiro passo era verificar o caminho até a casa. Estamos nesse purgatório por 16 dias mas não fui muito distante de Echo Creek.</p>
      <p>Logo cedo peguei o furgão e segui caminho. Conforme avançava na estrada, um zumbi ou outro aparecia ocasionalmente, até então não haviam muitos deles, pelo menos não juntos ou no alcance da minha vista.</p>
      <p>Mas quando peguei a estrada que leva até a rua da casa do lago... Eles começaram a aparecer, em maior número. Quando cheguei a rua, haviam muitos deles, a densidade era tamanha que acabei por atropelar alguns.</p>
      <p>E ainda havia outro problema: a rua estava interditada por cavaletes movéis e fixos. Ou seja, para chegar a cabana eu precisaria tirar os cavaletes móveis e desmontar os fixos. Limpar a área era fundamental, eu não conseguiria fazer isso com zumbis em volta, seria muito arriscado.</p>
      <p>"O trabalho precisa ser feito", pensei. Coloquei a escopeta nas costas e desci do furgão. Tinha 16 balas de calibre 12, utilizei todas elas.</p>
      <p>Então parti para o confronto corpo a corpo, fui deitando um a um. Mas logo fiquei cansado e ainda haviam muitos deles. Entrei no carro e o utilizei para matar mais alguns. Eu sabia do risco que estava a ter em ferrar o furgão, mas precisava limpar a área a qualquer custo.</p>
      <p>Mesmo atropelando alguns, ainda tinha um bom número para deitar e já estava anoitecendo. Eu estava com muito sono.</p>
      <p>"Lourdes, é hora de recuar, amanhã terminamos isso". Entrei no furgão e comecei a fazer o caminho de volta.</p>
      <p>Por um momento cochilei no volante, quando abri os olhos estava a poucos metros de um carro queimado e o inevitável aconteceu, eu bati de frente com o furgão. Senti a dor do impacto mas não aconteceu nada de pior comigo, porém o motor do furgão ficou seriamente danificado.</p>
      <p>Girei a chave algumas vezes para que o motor ligasse novamente e quando o ouvi roncar, percebi o quanto estava mal.</p>
      <p>"Droga! Isso não podia ter acontecido Lourdes!"</p>
      <p>Voltei com mais cautela. Quando cheguei em casa fui direto para a cama.</p>
    </div>
    <h1 class="open-sans">Dia 17</h1>
    <div class="diary caveat-brush-regular">
      <p>"Esse furgão vai me deixar na mão quanto mais eu precisar". Não sou mecânico, mas era claro como o motor está nas últimas só de olhar para ele.</p>
      <p>"Não sei arrumar motor, mas posso trocar um pneu". Me veio a cabeça o Franklin All Terrain, se eu conseguisse um macaco e a roda do mesmo modelo, poderia trocar a roda e colocá-lo para andar.</p>
      <p>Foi então que percebi que o furgão da construtora parado na rua acima tinha rodas que serviam para o Franklin All Terrain.</p>
      <p>O dia foi ir atrás de um macaco. Consegui encontrá-lo, afinal. E o melhor, encontrei outro furgão, menor infelizmente, mas com chave na ignição. Trouxe o macado e o novo furgão para casa, que estava num estado aceitável.</p>
      <p>De qualquer forma amanhã trocarei o pneu para termos opções.</p>
    </div>
    <h1 class="open-sans">Dia 18</h1>
    <div class="diary caveat-brush-regular">
      <p>Um dia de mecânico que não deu certo. Retirei as rodas do furgão da construtora, meti no Franklin All Terrain, até troquei a bateria por outra que encontrei em melhor estado. Parecia ter dado certo. "Parecia".</p>
      <p>Ao ligar o motor e andar poucos metros, as rodas que troquei soltaram. Onde estou a falhar? Não sei, talvez as rodas não sejam compatíveis, afinal. Aprendi qualquer coisa sobre mecânica mas considero esse um dia perdido.</p>
      <p>Pelo menos fiz Lourdes sorrir quando as rodas rolaram rua à fora.</p>
    </div>
    <h1 class="open-sans">Dia 19</h1>
    <div class="diary caveat-brush-regular">
      <p>O tempo está a passar e preciso terminar de limpar a área e desbloquear a rua. Decidi não arriscar ir com o novo furgão e peguei o táxi. Coloquei as ferramentas necessárias no carro e segui caminho.</p>
      <p>Consegui limpar a área, acabei por também utilizar o táxi para esse fim, passando por cima dos zumbis.</p>
      <p>Comecei a trabalhar na remoção dos cavaletes e consegui fazê-lo. Já estava a anoitecer mas decidi seguir na rua para entender o caminho.</p>
      <p>A rua está em péssimo estado e no final dela a situação ficou pior. Zumbis, e não apenas isso. Uma parte cedeu para o lago, e o que restou da rua se deteriorou e agora está coberto de árvores.</p>
      <p>Ou seja, para eu conseguir chegar a casa do lago de carro eu precisaria primeiro limpar a área de zumbis, depois recompor aquele pedaço da estrada que cedeu.</p>
      <p>O plano era claro, as árvores que ali nasceram eu derrubaria para utilizar a madeira na reconstrução daquele pedaço da rua, o suficiente para o carro passar.</p>
      <p>Se eu trabalhar o dia todo, talvez seja possível em três dias.</p>
    </div>
    <h1 class="open-sans">Dia 20</h1>
    <div class="diary caveat-brush-regular">
      <p>Lourdes e eu acordamos com um estrondo. A luz acabou. Minha suspeita se confirmou, por sorte já tenho o gerador.</p>
      <p>Adicionei gasolina e o liguei, temos luz.</p>
      <p>Logo após arrumar o gerador, segui direto para a rua da casa do lago. Limpei os zumbis e comecei os trabalhos.</p>
      <p>O despertador do relógio está ligado. Durante esses dias vou dormir cinco horas.</p>
    </div>
    <h1 class="open-sans">Dia 21</h1>
    <div class="diary caveat-brush-regular">
      <p>Obra na rua da casa do lago.</p>
    </div>
    <h1 class="open-sans">Dia 22</h1>
    <div class="diary caveat-brush-regular">
      <p>Obra na rua da casa do lago.</p>
    </div>
    <h1 class="open-sans">Dia 23</h1>
    <div class="diary caveat-brush-regular">
      <p>Consegui terminar a obra mas arrumei um grande problema por ser inconsequente.</p>
      <p>Voltei rapidamente para Echo Creek e carreguei o táxi com algumas coisas para já deixar na casa do lago.</p>
      <p>Lourdes estava muito contente e eu também. Carreguei o carro, sentei no banco do motorista e abri uma garrafa de vinho para comemorar.</p>
      <p>Lourdes brigou comigo, que não podia beber já que ia dirigir. "Mas hoje é um dia especial Lourdes", eu disse a ela.</p>
      <p>"Lembra Lourdes? Na primeira noite que passamos na casa do lago abrimos uma garrafa de vinho! E depois de todo esse tempo vamos retornar para a casa do lago".</p>
      <p>Eu trabalhei duro! Eu mereço!</p>
      <p>Tomamos o vinho e ele acabou rápido. Lourdes bebeu mais do que eu! Então abri uma segunda garrafa de vinho... E o bebi todo.</p>
      <p>Liguei o carro e segui caminho. Admito que senti meus reflexos ruins, mas não queria adiar a ida, o que foi um erro. Logo após atravessar pela área da obra, já não lembrava de mais de nada.</p>
      <p>Foi então que aconteceu... Quando eu olhei já era tarde demais, havia um táxi incendiado bem na minha frente, consegui desviar mas bati de frente com uma árvore. Minha sorte é que estava com o cinto de segurança que Lourdes me obrigou a usar por ter bebido.</p>
      <p>Minha mente desligou, simplesmente desligou.</p>
      <p>Tirei o cinto e sai do carro cambaleante, senti um feixo de sangue a escorrer da testa. Estava coberto de cacos de vidro. Quando olhei em volta... Não fazia ideia de onde estava.</p>
      <p>Após algum tempo percebi que provavelmente já passei pela casa do lago. Andei alguns metros na rua e vi uma grade com uma placa, "área restrita". Sim, eu havia passado da casa do lago e estava no orfanato. Quando olhei para aquele prédio abandonado subiu um arrepio na espinha. "Joshua"... Lourdes virou meu rosto. "Não olhe", disse ela.</p>
      <p>Dei dois tapas no meu rosto. "Acorda"! Gritei comigo mesmo.</p>
      <p>Voltei para o carro, sentei no banco do motorista e girei a chave.</p>
      <p>Nada aconteceu. O motor estava morto. "Meu Deus, como vou voltar por todo esse caminho a pé? Por favor, não me puna mais".</p>
      <p>Eu não tinha outra opção senão voltar a pé.</p>
    </div>
    <h1 class="open-sans">Dia 24</h1>
    <div class="diary caveat-brush-regular">
      <p>Continua na próxima transmissão...</p>
    </div>
  </div>
  <router-outlet></router-outlet>
</main>
